//Global colors
@primary: #006729;
@secondary: #79b530;
@info: white;
@success: #79b530;
@warning: #faad14;
@error: #e60018;
@processing: rgba(3, 107, 228, 0.9);
@gray: #6c6f70;
@white: #fff;
@black: #000;
@letter-hover: #ffc248;

@layout-bg-color: #eeeeee;
@colapser-color: @primary;
@colapser-color-hover: #780a0a;
@tabs-unactive-bg-color: #3ca0e524;

//Global vars for colors
@primary-color: @primary;
@info-color: @info;
@success-color: @success;
@processing-color: @processing;
@error-color: @error;
@highlight-color: @error;
@warning-color: @warning;
@menu-letters-hover: @letter-hover;
@normal-color: @gray;
@border-radius-base: 2px;
@card-header: @secondary;
// Background color for `<body>`
@body-background: @white;

// Base background color for most components
@component-background: @white;

// Popover background color
@popover-background: @component-background;

//Variables for text color
@text: @black;
@text-color: @black;
@text-color-secondary: fade(@text, 45%);
@text-color-inverse: @white;
@text-color-dark: fade(@white, 85%);
@text-color-secondary-dark: fade(@white, 65%);
@text-selection-bg: @black;
@icon-color: inherit;
@icon-color-hover: fade(@text, 75%);

//Variables for font
@font-variant-base: tabular-nums;
@font-feature-settings-base: 'tnum';
@font-size-base: 12px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;
@heading-1-size: 28px;
@heading-2-size: ceil(@font-size-base * 2.14);
@heading-3-size: ceil(@font-size-base * 1.71);
@heading-4-size: ceil(@font-size-base * 1.42);
@line-height-base: 1.5715;
@border-radius-base: 2px;
@border-radius-sm: @border-radius-base;
@font-family: 'Montserrat-SemiBold';
@code-family: 'Montserrat-SemiBold';
@heading-color: fade(#000, 85%);
@heading-color-dark: fade(@white, 100%);

@btn-font-weight: 400;
@btn-border-radius-base: @border-radius-base;
@btn-border-radius-sm: @border-radius-base;
// @btn-border-width: @border-width-base;
// @btn-border-style: @border-style-base;
@btn-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
@btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
@btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);

// Buttons
@border-style-base: solid; // style of a components border
@border-width-base: 1px;
@btn-font-weight: 400;
@btn-border-radius-base: @border-radius-base;
@btn-border-radius-sm: @border-radius-base;
@btn-border-width: @border-width-base;
@btn-border-style: @border-style-base;
@btn-shadow: 0 2px 0 rgba(2, 1, 1, 0.015);
@btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
@btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
@radio-button-hover-color: @primary;

@slider-rail-background-color: @secondary;
