body {
  // overflow-x: hidden;
  // overflow-y: auto;
  overflow: hidden;
}

/**
 * Scrollbar
 */

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: @primary;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/**
 * util
 */
.overlay-iw {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
  .login-card {
    width: 400px;
  }
}

.center-iw {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

/**
 * Ant Theme
 */

h1 {
  font-size: 28px;
  color: gray;
}

h2 {
  font-size: 18px;
  color: gray;
}

h3 {
  font-size: 20px;
  color: black;
}

h4 {
  font-size: 12px;
  color: @primary;
}

h5 {
  font-size: 12px;
  color: @secondary;
}

h6 {
  font-size: 12px;
  color: @gray;
}

.color-primary {
  color: @primary;
}

.color-secondary {
  color: @secondary;
}

.color-info {
  color: @info;
}

.color-success {
  color: @success;
}

.color-warning {
  color: @warning;
}

.color-error {
  color: @error;
}

.color-processing {
  color: @processing;
}

.ant-form-item-label > label::after {
  content: '' !important;
}

.ant-spin {
  color: @secondary;
}
.ant-spin-dot-item {
  background-color: @secondary;
}

.ant-btn-secondary {
  background-color: @primary;
  color: white;
}

.ant-menu {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 16px;
  padding: 0 5px 0 5px;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item-selected {
  color: @secondary !important;
  border-color: transparent;
}

.ant-card.ant-card-bordered {
  border-radius: 10px;
}
.ant-layout-footer {
  text-align: center;
  color: #6c6f70;
  font-size: 10px;
  padding: 15px;
}

.ant-btn.ant-btn-primary {
  background: @secondary;
  border-color: @secondary;
  border-radius: 10px;
}

.ant-input-affix-wrapper:hover {
  border-color: @secondary;
}

.ant-card {
  margin: 0px !important;
}

.ant-card-head {
  color: @gray;
  font-size: 28px;
  border-bottom: none;
}

.ant-card-head-title {
  padding: 10px 0 0 0;
}

.ant-card-body {
  height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
}

.ant-divider {
  border-top: 1.8px solid rgba(0, 103, 41, 0.73) !important;
}
.ant-divider-horizontal {
  margin: 0 0 10px;
}
.ant-table-content {
  overflow: auto;
}
.ant-slider-mark-text {
  color: @gray;
}

.ant-slider-mark-text-active {
  color: @primary;
}

.ant-form-item-control-input-content {
  color: gray;
}

.ant-notification-topRight {
  right: 15% !important;
  left: 15% !important;
  .ant-notification-notice {
    width: 100% !important;
    background: @processing !important;
    .ant-notification-notice-message {
      color: white;
      font-weight: bold;
    }
    .ant-notification-notice-description {
      color: white;
    }
    .ant-notification-notice-close {
      color: white;
    }
  }
}

/**
 * My Theme
 */

.login {
  .bg {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
  }
  .logo {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
  }

  .title {
    padding-top: 350px;
    text-align: center;
    font-size: 24px;
    color: white;
  }
  .ant-card-body {
    height: auto;
  }
}

.login-form {
  padding-top: 30px;
}

.header {
  .bg {
    background: url(/img/bg_headerback.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 30px 0 30px !important;
  }
  .logo {
    height: 40%;
  }
}

.input-search {
  .ant-input-search {
    border-radius: 15px;
    background-color: rgba(198, 199, 200, 0.38);

    .ant-input-group-addon {
      background-color: transparent !important;
    }

    input {
      background: transparent;
      border-width: 0px !important;
      color: white;
    }
    button {
      background-color: rgba(198, 199, 200, 0.38) !important;
      border-width: 0px;
      border-radius: 15px 15px;
    }
    svg {
      color: white;
    }
  }
}

.btn-circle {
  margin: 5px;
  height: 40px;
  width: 40px;
  svg {
    vertical-align: middle;
  }
}

.user-menu {
  float: right;
  padding: 20px 20px;
  display: flex;

  .account {
    margin-right: 10px;
    p {
      margin: 0;
    }
  }

  .user {
    color: #fafafa;
    font-size: 14px;
  }

  .rol {
    color: @secondary;
    font-size: 10px;
  }

  .user-icon {
    font-size: 34px;
    color: white;
    cursor: pointer;
  }
}

.content {
  margin-top: -70px;
}

.form-data {
  p {
    margin: 10px 0 2px 0;
    color: @primary;
  }
  .ant-row.ant-form-item {
    margin-bottom: 0;
  }
}

.card-footer {
  text-align: center;
  img {
    width: 9em;
  }
}

.slider-car {
  .ant-slider-handle {
    width: 60px !important;
    height: 60px !important;
    top: -23px;
    padding-top: 20px;
    background-image: url('/img/car-icon2.svg');
    background-repeat: no-repeat;
    background-color: @primary;
  }
}

.slider-car-error {
  .ant-slider-handle {
    background-color: @error;
    border-color: @error !important;
  }
}

.f40 {
  font-size: 40px;
}

.text-bottom {
  span {
    position: absolute;
    bottom: 15px;
  }
}

.icon-text-primary {
  color: @primary;
  background: white;
}
.btn-gray {
  color: white;
  background: @gray;
  border-color: @gray;
}

.text-red {
  color: red;
}

.my-white {
  background-color: white;
}
